# Dependencies
node_modules/

# Environment Variables & Secrets
.env
.env.local
.env.development
.env.production

# Logs & Diagnostics
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS & Editor Files
.DS_Store
Thumbs.db
.vscode/
.idea/
cache/
